.bi {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: -.1em;
}

.mobile-online-user {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 996;
    width: 80vw;
    margin-top: 3.475em;
}

@media (max-width: 719px) {
    .mobile-online-user {
        transform: translateX(100%);
        transition: transform .2s ease;
    }
}

@media (max-width: 719px) {
    .mobile-online-user.mobile-online-user-open {
        transform: translateX(0);
    }
}

@media (min-width: 720px) {
    .mobile-online-user {
        display: none;
    }
}

.message-list,
.online-user-list {
    height: 0;
    overflow-y: auto;
}